<div class="bg-primary">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row justify-content-lg-between py-1.5 py-md-2">
      <h3 class="text-white mb-0.5">現在訂閱，獲得課程優惠碼！</h3>
      <div class="input-group w-auto">
        <input type="email" class="form-control py-0.5 px-1" placeholder="輸入您的電子信箱" aria-label="subscriber's email"
          aria-describedby="subscribe">
        <button class="btn btn-primary-light text-white" type="button" id="subscribe">訂閱</button>
      </div>
    </div>
  </div>
  <hr class="bg-white opacity-1 my-0">
  <div class="container">
    <div class="d-grid gap-0.5 py-1.5 py-md-2">
      <div class="d-flex justify-content-between">
        <a href="./index.html" class="logo logoWhiteUrl d-block">DOYOGA</a>
        <ul class="list-unstyled d-flex">
          <li class="me-0.5">
            <a href="https://www.facebook.com/" class="text-white fs-4 d-block"><span class="fab fa-facebook"></span>
          </li>
          <li class="me-0.5">
            <a href="https://www.instagram.com/" class="text-white fs-4 d-block"><span
                class="fab fa-instagram"></span></a>
          </li>
          <li>
            <a href="https://line.me/" class="text-white fs-4 d-block"><span class="fab fa-line"></span></a>
          </li>
        </ul>
      </div>
      <a href="./course.html" class="text-white fw-light">課程介紹</a>
      <a href="./surroundings.html" class="text-white fw-light">瑜珈空間</a>
      <div class="row">
        <a href="./curriculum.html" class="col-md-4 text-white fw-light mb-0.5 mb-md-0">當月課表</a>
        <p class="col-md-8 text-white">© 2021. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>