<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container">
    <h1 class="fs-6 fw-normal mb-0">
      <a class="logo logoUrl text-primary-light d-block" href="./index.html">DOYOGA</a>
    </h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-lg-1">
          <a class="nav-link text-dark fw-light d-inline-block hvr-underline-from-left" aria-current="page"
            href="./course.html">課程介紹</a>
        </li>
        <li class="nav-item me-lg-1">
          <a class="nav-link text-dark fw-light d-inline-block hvr-underline-from-left"
            href="./surroundings.html">瑜珈空間</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-light d-inline-block hvr-underline-from-left"
            href="./curriculum.html">當月課表</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-light d-inline-block d-lg-none hvr-underline-from-left"
            href="./reservation.html">立即預約</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-light d-inline-block d-lg-none hvr-underline-from-left"
            href="./contactUs.html">聯絡我們</a>
        </li>
      </ul>
    </div>
    <div class="d-none d-lg-flex gap-1">
      <a href="./reservation.html" class="btn btn-outline-primary rounded-pill">立即預約</a>
      <a href="./contactUs.html" class="btn btn-outline-primary rounded-pill">聯絡我們</a>
    </div>
  </div>
</nav>