<ul class="sns list-unstyled d-none d-lg-block position-fixed top-50 end-0 p-0.5">
    <li class="bg-white rounded-2 w-52px h-52px d-flex justify-content-center align-items-center mb-0.5">
        <a href="#"><span class="fab fa-facebook text-primary fs-lg lh-1"></span></a>
    </li>
    <li class="bg-white rounded-2 w-52px h-52px d-flex justify-content-center align-items-center mb-0.5">
        <a href="#"><span class="fab fa-instagram text-primary fs-lg lh-1"></span></a>
    </li>
    <li class="bg-white rounded-2 w-52px h-52px d-flex justify-content-center align-items-center">
        <a href="#"><span class="fab fa-line text-primary fs-lg lh-1"></span></a>
    </li>
</ul>