<ul class="sns list-unstyled d-none d-lg-block position-fixed top-50 end-0 zindex-5 p-0.5">
    <li class="bg-white rounded-2 w-50px h-50px d-flex justify-content-center align-items-center hvr-pop mb-0.5">
        <a href="https://www.facebook.com/"><span class="fab fa-facebook text-primary fs-lg lh-1"></span></a>
    </li>
    <li class="bg-white rounded-2 w-50px h-50px d-flex justify-content-center align-items-center hvr-pop mb-0.5">
        <a href="https://www.instagram.com/"><span class="fab fa-instagram text-primary fs-lg lh-1"></span></a>
    </li>
    <li class="bg-white rounded-2 w-50px h-50px d-flex justify-content-center align-items-center hvr-pop">
        <a href="https://line.me/"><span class="fab fa-line text-primary fs-lg lh-1"></span></a>
    </li>
</ul>