.hero {
  background-image: url(../images/hero.jpeg);
  height: 560px;
}

.ml-off {
  @include media-breakpoint-up(md) {
    margin-left: -95px;
  }
}

.breadcrumb-nav {
  --bs-breadcrumb-divider: '';
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 1rem;

  @include media-breakpoint-up(md) {
    padding-left: 1.875rem;
  }

  &::before {
    padding-right: 0;
  }
}

.placeHolder-primary--light::placeholder {
  color: $primary-light;
}

.card-active {
  border: 4px solid $white;

  .card-icon {
    opacity: 1;
  }
}

.card-icon {
  opacity: 0.5;
}