$utilities: map-merge($utilities, ("font-weight": map-merge(map-get($utilities, "font-weight"),
      (responsive: true,
        values: map-merge(map-get(map-get($utilities, "font-weight"), "values"),
          (medium: $font-weight-medium),
        ),
      ),
    ),
    "font-size": map-merge(map-get($utilities, "font-size"),
      (responsive: true,
        rfs:false,
      ),
    ),
    "width": map-merge(map-get($utilities, "width"),
      (responsive: true,
        values: map-merge(map-get(map-get($utilities, "width"), "values"),
          ("50px" :50px,
          ),
        ),
      ),
    ),
    "height": map-merge(map-get($utilities, "height"),
      (responsive: true,
        values: map-merge(map-get(map-get($utilities, "height"), "values"),
          ("48px" :48px,
            "50px" :50px,
            "72px" :72px,
            "96px" :96px,
            "200px":200px,
            "216px":216px,
            "340px":340px,
            "488px":488px,
          ),
        ),
      ),
    ),
    "ratio":(property: --bs-aspect-ratio,
      class: ratio,
      responsive: true,
      values: $aspect-ratios,
    ),
  ),
);

.bg {
  &Cover {
    background-size: cover;
  }

  &Center {
    background-position: center center;
  }

  &Bottom {
    background-position: bottom center;
  }
}

.object-cover {
  object-fit: cover;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

@each $name,
$value in $zindex-value {
  .zindex-#{$name} {
    z-index: $value;
  }
}