*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 1px solid rgba(255, 0, 0, 0.1);
}

main {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  margin-bottom: 0;
}