.hero {
  background-image: url(../images/hero.jpeg);
  height: 560px;
}

.logo {
  width: 96px;
  height: 31px;
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.logoUrl {
  background-image: url(../images/DOYOGA-logo.png);
}

.logoWhiteUrl {
  background-image: url(../images/DOYOGA.png);
}